* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/*HEADER SECTION */
.logo {
    height: 32px;
}

.bx-menu {
    font-size: 32px;
}

.container-menu {
    padding: 15px;
    width: 100%;
}

.card-menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    margin-right: 10px; */
}

/*BANNER  FIRST SECTION*/
.banner {
    padding: 8rem ;
    background-color: #E9F4FF;
}

.banner-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-banner {
    display: inline-block;
    background-color: #4361EE;
    padding: 0.9rem 2.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn {
    justify-content: space-between;
    align-items: center;
    color: white; 
}

.bx-right-arrow-alt {
    color: white;
    position: relative;
    top: 2px;
}

.banner-img {
    position: absolute;
    right: 135px;
    top: 100px;
    max-height: 500px;
}

/*SECOND SECTION*/
.second-sec {
    padding: 8rem ;
    text-align: center;
}
.second-title {
    font-size: 2rem;
    font-weight: 600
}

.card-second {
    display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.float-left {
    float: left;
    padding-right: 10px;
}

 .second-description {
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 120px;
} 

