@media only screen and (max-width: 575px) {
  /*BANNER  FIRST SECTION*/
  .banner {
    padding: 1rem;
  }

  .card-banner {
    text-align: center;
  }

  .banner-title {
    font-size: 1.5rem;
    text-align: center;
    line-height: 150%;
  }

  .banner-title br:last-child {
    display: none;
  }

  .banner-img {
    position: relative;
    max-height: 300px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 20%);
  }

  /* Second Section */

  .second-sec {
    padding: 6rem 1rem;
    text-align: center;
  }

  .second-description {
    padding: 1rem 3rem;
    line-height: 180%;
  }

  .card-second {
    flex-direction: column;
    margin-top: 1rem;
  }

  .card-second .article-description {
    padding: 1rem 3rem;
    line-height: 180%;
    font-size: 1.2rem;
    text-align: center;
  }

  .card-second .float-left {
    float: none;
    padding-right: 0;
    width: 70%;
  }

  /* third section */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .services-img {
    width: 170px;
    height: 170px;
  }

  .text-overlay {
    left: 40%;
    text-align: left;
    text-wrap: nowrap;
    font-size: 0.85rem;
  }

  /* fourth section */

  .happy-section {
    padding: 4rem 1rem;
  }

  .happy-section > article > div {
    width: 65dvw;
    flex-direction: column;
    padding: 6rem 1rem;
  }

  .happy-section > article > div > span:last-of-type,
  .happy-section > article > div > span:first-of-type {
    display: none;
  }

  .happy-section > article div > p {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 200;
    text-align: center;
    margin-left: 0;
    width: fit-content;
    margin-top: 20px;
  }

  /* fifth section */

  .contact-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #e9f4ff;
    flex-direction: column;
    padding-top: 3rem;
  }

  .contact-section-address > section {
    font-size: 1.1rem;
  }

  .contact-section .contact-section-address {
    align-self: flex-start;
  }

  .contact-section-address > section img {
    width: 30px;
  }
}
